**/rebel.xml
**/target
**/logs
**/.settings
**/.classpath
**/.project
**/bin

**/**/tmp
**/**/derby
**/**/target
**/**/target/*.*
**/**/logs
**/**/.settings
**/**/.classpath
**/**/.project
**/**/bin

*.class
.classpath
.project
.settings/
org.eclipse.jdt.core.prefs
/membership-core/derby.log
/.dbeaver/data-sources.json
/nbactions.xml
/.dbeaver/credentials-config.json
/.idea/